<h2><%= @context.description %></h2>

<%=form_for :cases, url:"" do |f| %>
  <div class="filters">
  <% @context.context_filters.each do |filter| %>
    <div class="filter">
      <%=f.text_area :filter, value: filter.content %>
    </div>
  <% end %>
  </div>

  <table class="cases">
    <% @case_table.each.with_index do |row,i| %>
      <tr>
        <% row.each.with_index do |col,j| %>
          <% if i==0 or j==0 %>
            <th><%= f.text_area :label, value: (col ? col : "") %></th>
          <% else %>
            <td><%= f.text_area :cell,  value: (col ? col : "") %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= form_for :new, url:{ action:"new" } do |f| %>
    <%=f.submit "新規context(TODO)" %>
  <% end %>
<% end %>


